{% extends "base.html" %}

{% block title %}Connexion{% endblock %}

{% block content %}

<div class="container">
    <div class="card">

        <h1>Connexion</h1>

        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }}">{{ message }}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}

        <form method="POST" action="{{ url_for('login') }}">
            <div class="form-group">
                <label>Pseudo</label>
                <input type="text" name="username" class="input" placeholder="votre_pseudo" required>
            </div>
            <div class="form-group">
                <label>Mot de passe</label>
                <input type="password" name="password" class="input" placeholder="••••••••" required>
            </div>
            <button type="submit" class="btn">Se connecter</button>
        </form>

        <p class="auth-link">
            Pas encore de compte ? <a href="{{ url_for('register') }}">S'inscrire</a>
        </p>

        <div class="cgu-link">
            <a href="{{ url_for('conditions') }}" target="_blank">📄 Conditions Générales d'Utilisation</a>
        </div>

    </div>

    <div class="footer-text">
        Marauder &middot; 2025 &middot; creat by <strong>@index</strong>
    </div>
</div>

{% endblock %}